.content {
  width: 100%;
  height: 100%;
}

.modal {
  .cancel {
    position: absolute;
    left: 90px;
    bottom: 24px;
    height: 34px;
    padding-right: 12px;
    padding-left: 12px;
    min-width: 70px;
  }

  :global(.btn-info) {
    background-color: #72aac7;
    border-color: #72aac7;

    &:hover {
      background-color: #A4BCBB;
      border-color: #A4BCBB;
    }
  }
}
